body {
    background-color: #365571;
    font-family: Raleway;
    font-weight: 400;
    color: #f0edde;
}

.square {
    width: 30%;
    padding-bottom: 20%;
    float: left;
    margin: 1.66%;
    border-radius: 20px;
}

#nav {
    background-color: #f0edde;
    color: #365571;
}

a {
    font-size: 1rem;
}


#title {
    background-color: #bbd5e6;
}

@media (min-width: 576px) {
    h1 {
        font-size: 5rem;
    }
    a {
        font-size: 1.5rem;
    }
}


/* #container {
    max-width: 600px;
    margin: 0 auto;
} */

/* h1 {
    color: white;

} */
