.container {
    margin: 0 auto;
    width: 70%;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat";
    color: "black";
    background-image: url("../../assets/images/pawel-czerwinski-1249521-unsplash.jpg");
    background-attachment: fixed;
    font-weight: 700;
}

i:hover{
    color: rgba(255, 255, 255, 0.7);
}

p {
    
    margin: 0 auto;
}

.nav-link.active {
    color: rgba(0, 0, 0, 0.9);
}

a {
    color: rgba(0, 67, 105, 0.8);
}

h2 {
    font-weight: 700;
}

.title {
    font-weight: 700;
}

.navbar{border-bottom: 2px solid rgba(0, 0, 0, 0.2);}

.nav-link {
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.6);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.6);
}
.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.7);
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.7);
}

.badge {
    font-size: 1rem;
    /* font-weight: 400; */
}

.project {
    padding: 3%;
    
}

.border-bot {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}



.btn {
    font-weight: 700;
}

html {
    font-size: 10px;
    

}
.content{
    
    font-size: 2rem;
    flex: 1 0 auto;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    width: 52%;
    
}

#plugin {
    position: absolute;
}

.contact {
    font-size: 3rem;
}

#stkovrflw {
    background-color: rgb(0, 0, 0);
}

object {
    padding-bottom: 100%;
}

.project-info {
    font-size: 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    flex: 1 0 auto;
    width: 55%;
}

.main-pic{
    margin-bottom: 5%;
    margin-top: 3%;
    width: 100%;
    
    border-radius: 50px;
    box-shadow: 10px 10px 20px rgb(0, 0, 0);
    
}

.project-pic{
    margin-bottom: 5%;
    margin-top: 3%;
    width: 100%;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgb(0, 0, 0);
}


.nav-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.also-nav-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.title {
    font-size: 3rem; 
}



.footer {
    flex-shrink: 0;
  }

/* small */
@media (min-width: 576px) {
    html{font-size: 12px;}
    .nav-link {font-size: 2rem;}
    /* .nav-link{font-size: 2rem;} */
    .main-pic{width: 90%;}

    
}

/* medium */
@media (min-width: 768px) {
    html{font-size: 14px;}
    .main-pic{width: 75%;}
    
    /* .title {font-size: 4rem;} */
    /* .nav-link{font-size: 1.5rem;} */
}

/* large */
@media (min-width: 992px) {
    html{font-size: 16px;}
    .main-pic{width: 60%;}
    .badge {
        font-size: 1.25rem;
    }
    /* .title {font-size: 4rem;} */
    /* .nav-link{font-size: 1.5rem;} */
    .content{font-size: 1.75rem;}
}

/* extra large */
@media (min-width: 1200px) {
    html{font-size: 18px;}
    .content{font-size: 1.5rem;}
    .main-pic{width: 50%;}
    /* .title {font-size: 5rem;} */
    /* .nav-link{font-size: 2rem;} */
}


